extends layout

block content
    h1.greeting Your Support Means A Lot! 
    div#donation(style="max-width: 50%; margin: 0 auto;")
        div.frame
            img(src="/images/utilities/ChenxuanLi_Wechat_Pay.png" style="width: 100%; height: 100%;")
            //- div(style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;")