extends layout

block content
    h1.greeting Enter Your User Email And Your New Password to Continue
    //- The sign-up form send post request on the same url
    form#signUp.credential(method="POST", action="")
        div.email-section(title="User's email address")
            label(for="email") Email:#[br]
            input#CodeInput(type="email", placeholder="example@server.com", name="email", required)
        div.password-section(title="User's password. Recommend a combination of letter, number, and special characters")
            label(for="passwordInput") New Password:#[br]
            input#passwordInput(type="password", placeholder="example-password", name="password", minlength="8", maxlength="50", required)
        div.submission-section
            button(type="submit") Submit
    
    if errors
        ul
            for error in errors
                li!= error.msg