extends layout

block content
    h1.greeting Start Your #[strong Unique] Experience Today!
    ul.log-in
        li #[a.login-button(href="/user/log-in") Log In]
        li #[a.signup-button(href="/user/sign-up") Sign Up]
