extends layout

block content
    span.vertical-nav-bar-left
        ul
            li #[a.nav-button(href="/") Profile]
            li #[a.nav-button(href="/") Chat]
            li #[a.nav-button(href="/") Game]
            li.setting #[a.nav-button(href="/") Setting]
    span.content-window
        p jfdlkajhfoieujafnjkdhalfjdsklafkjfdjsl #[br] jfdlksajflkjealkjl